[submodule "ExSwift"]
	path = ExSwift
	url = https://github.com/colemancda/ExSwift.git
[submodule "RoutingHTTPServer"]
	path = RoutingHTTPServer
	url = https://github.com/colemancda/RoutingHTTPServer.git
