[submodule "Dependencies/CocoaAsyncSocket"]
	path = Dependencies/CocoaAsyncSocket
	url = https://github.com/colemancda/CocoaAsyncSocket.git
[submodule "Dependencies/RoutingHTTPServer"]
	path = Dependencies/RoutingHTTPServer
	url = https://github.com/mattstevens/RoutingHTTPServer.git
[submodule "Dependencies/CocoaLumberjack"]
	path = Dependencies/CocoaLumberjack
	url = https://github.com/CocoaLumberjack/CocoaLumberjack.git
[submodule "Dependencies/CocoaHTTPServer"]
	path = Dependencies/CocoaHTTPServer
	url = https://github.com/robbiehanson/CocoaHTTPServer.git
