language: swift
osx_image: beta-xcode6.3
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/0d59a63321811ee9a859
    on_success: always  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
before_install:
    - brew install carthage
    - carthage checkout
    - TRAVIS="true" # sets the framework version to TRAVISCI
script:
    - xcodebuild -project NetworkObjects/NetworkObjects.xcodeproj -scheme 'NetworkObjects OS X' -sdk macosx -arch x86_64 test CODE_SIGNING_REQUIRED=NO OTHER_LDFLAGS='-framework Foundation -ObjC'
    - xcodebuild -project NetworkObjects/NetworkObjects.xcodeproj -scheme 'NetworkObjects iOS' -sdk iphonesimulator -arch i386 test CODE_SIGNING_REQUIRED=NO OTHER_LDFLAGS='-framework Foundation -ObjC'