<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NetworkObjects.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NetworkObjectsiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iOS Release Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E2BD7BD1817309E00E9D04C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E2BD7D41817309E00E9D04C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EA79BB41818A1E9005F0866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EED73E11818648F00F911BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EED73EF1818648F00F911BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
