<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NetworkObjectsOSXApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6EC8594118006E1A0089F123</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EC8596218006E1B0089F123</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EC8597A18006E8D0089F123</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EC8599418006E8E0089F123</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
